body{
    font-family: "Tahoma", sans-serif;
    background: #333;
    color:#555;
} 

/* ------------------copy from style----------------------------*/
body .container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}


header .highlight{
    color: #a81de8;
    font-weight: bold;
}

header{
    background: #191c1f;
    color: #ffffff;
    padding-top: 1px;
    height: 100px;
    border-bottom: #a81de8 3px solid;
}






#branding{
    margin-top: 20px;
    float: left;

}

header #branding h1{
    margin-left: 10px;

}

header .player{
    width: 50%;
    float: left;
    margin-left: 850px;
    margin-top: -110px;

}

.player input[type="email"]{
    height: 30px;
    width: 150px;
}

.player input[type="password"]{
    height: 30px;
    width: 150px;
}

.player button[type="submit"]{
    height: 30px;
    width: 60px;
    background: #a81de8;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    color: #ffffff;
}

/*-----------------------------------------------------------------------------------------------------------*/

h2{
    margin-left: 150px;
    text-align: left; 
    color: #4caf50;
}

body .black{
    
    width: 100%;
    height: 40px;
}

body .green{
    
    padding: 100px;
    margin-top: 50px;
    margin-left: 10px;
}

table, td, th {
    border:2px solid #555;
    
}

table {
    margin-top: 30px;
    margin-left: 10px;
    
    border-collapse: collapse;
    width: 32.3%;
    
}

.col{
    box-shadow: 15px 20px 25px 0 rgb(1, 5, 0);
}

.col:hover{
    box-shadow: 15px 20px 25px 0 #555;
}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: center;
}

.heading{
    background: #111;
    color: #fff;
    font-size: 20px;
}

.data{
    background: #f4f4f4;
}

.data.grey{
    background-color: #c8ecd3;
}

.button{
    background-color:#4caf50;
    border: none;
    color:#fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;

}



h3{
    size: 25px;
    color: #4de065;
}

